@font-face {
    font-family: Verdana;
    src: url("../font/VERDANAB.TTF");
}

* {
    font-family: Verdana;
    user-select: none;
}

*:focus {
    outline: none;
}

body {
    overflow: hidden;
}

.clickgui .options {
    position: absolute;
    padding: 5px;
    color: #96A8C8;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    background-color: rgba(61, 83, 129, 0.8);
    text-align: left;
    font-size: 15px;
    will-change: opacity;
    transition: ease opacity .2s;
    animation: showOptions .2s;
}

.clickgui .options .boolean {
    will-change: color;
    transition: ease color .2s;
    animation: booleanToggled .2s;
}

.clickgui .options .boolean.active {
    color: white;
}

.clickgui .options .container {
    padding: 3px;
    overflow: hidden;
    will-change: max-height;
    max-height: 300px;
    transition: ease max-height .5s;
    white-space: nowrap;
}

.clickgui .options .container .range {
    appearance: none;
    -webkit-appearance: none; 
    background-color: rgba(46, 63, 98, 0.8);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.clickgui .options .container .enum .enumElement {
    will-change: color;
    transition: ease color .2s;
}

.clickgui .options .container .enum .enumElement::before {
    content: "> ";
}

.clickgui .options .container .enum .enumElement.active {
    color: white;
}

.clickgui .options .container .description {
    color: white;
}


.clickgui .panel {
    font-size: 18px;
    width: 180px;
    text-align: center;
    position: absolute;
    z-index: 0;
}

.clickgui .panel .blur {
    backdrop-filter: blur(4px);
    max-height: 400px;
    overflow: hidden;
    will-change: max-height;
    transition: ease max-height 1s;
}

.clickgui .panel .title {
    color: white;
    background-color: rgba(46, 63, 98, 0.8);
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.clickgui .panel .inner {
    overflow: auto;
    max-height: 360px;
}

.clickgui .panel .inner .module {
    background-color: rgba(61, 83, 129, 0.8);
    color: #96A8C8;
    padding: 5px;
    will-change: filter, color;
    transition: ease filter .2s, ease color .2s;
}

.clickgui .panel .inner .module:hover {
    /* background-color: rgba(55, 75, 116, 0.8); */
    filter: brightness(90%);
}

.clickgui .panel .inner .module.enabled {
    color: white;
    background-color: rgba(48, 126, 194, 0.8);
}

::-webkit-scrollbar-track {
	background-color: rgba(55, 75, 117, 0.8);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(46, 63, 98, 0.8);
}


::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 8px; 
    height: 8px;
    background: rgba(36, 102, 160, 0.8);
    box-shadow: -100vw 0 0 100vw rgba(48, 126, 194, 0.8);
}


@keyframes showOptions {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


